header.top-header.container-fluid.p-0
    nav.navbar.navbar-expand-md.p-0(aria-label='Fifth navbar example')
        .container-fluid.d-flex.flex-row-reverse.justify-content-between.align-items-center
            .logo
                a(href='/')
            button.navbar-toggler.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#navbarsExample05' aria-controls='navbarsExample05' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
                    i.bi.bi-list
            include ../components/navbar