<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ukrainets Vasya">
    <meta name="description" content="Simple website page of WebUI Task #1">
    <meta http-equiv="content-language" content="en">
    <meta http-equiv="cache-control" content="no-cache">
    <title>Web Task 1</title>
    <link type="image/x-icon" rel="shortcut icon" href="../assets/icons/favicon.ico">
    <link rel="stylesheet" href="../libs/normalizecss/normalize.css">
    <link rel="stylesheet" href="../libs/fontawesome-free-5.15.3-web/css/all.min.css">
    <link rel="stylesheet" href="../libs/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../libs/bootstrap-icons-1.5.0/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>

    <header class="top-header container-fluid p-0">
        <nav class="navbar navbar-expand-md p-0" aria-label="Fifth navbar example">
            <div class="container-fluid d-flex flex-row-reverse justify-content-between align-items-center">
                <div class="logo"><a href=""></a></div>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="bi bi-list"></i></span>
                </button>
                <div class="top-navigation navbar-collapse collapse" id="navbarsExample05">
                    <ul class="categories-list d-flex flex-column flex-md-row navbar-nav me-auto">
                        <li class="category-item current"><a href="">main</a></li>
                        <li class="category-item dropdown">
                            <span class="subcategory-item"><a href="html/pages/matches.html">matches</a></span>
                            <ul class="categories-list subcategories-list">
                                <li class="category-item subcategory-item">
                                    <a href="html/pages/matches.html#matches-callendar-container">callendar of
                                        matches</a>
                                </li>
                                <li class="category-item subcategory-item">
                                    <a href="html/pages/matches.html#next-match-container">next game</a>
                                </li>
                                <li class="category-item subcategory-item">
                                    <a href="html/pages/matches.html#raitings-container">raitings</a>
                                </li>
                            </ul>
                        </li>
                        <li class="category-item"><a href="html/pages/news.html">news</a></li>
                        <li class="category-item"><a href="html/pages/fans.html">fans</a></li>
                        <li class="category-item"><a href="html/pages/contacts.html">contacts</a></li>
                        <li class="category-item"><a href="html/pages/admin.html">admin</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <main class="content">

        <article class="intro container-fluid p-0">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner slides slider">
                    <div class="carousel-item slide active">
                        <img src="../assets/img/slider/bodybuilder-training-glasses-muscles-back-tattoos.jpg"
                            class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block text-start">
                            <h3 class="title text-start">Training like Rock</h3>
                            <p>Program creative in California cardio, <br>running cross-fit, boxing</p>
                        </div>
                    </div>
                    <div class="carousel-item slide">
                        <img src="../assets/img/slider/powerlifting-gym-fitness.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block text-start">
                            <h3 class="title text-start">Training like Rock</h3>
                            <p>Program creative in California cardio, <br>running cross-fit, boxing</p>
                        </div>
                    </div>
                    <div class="carousel-item slide">
                        <img src="../assets/img/slider/sport-body-building-shtanga-myshcy-sport-1430245.jpg"
                            class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block text-start">
                            <h3 class="title text-start">Training like Rock</h3>
                            <p>Program creative in California cardio, <br>running cross-fit, boxing</p>
                        </div>
                    </div>
                    <div class="carousel-item slide">
                        <img src="../assets/img/slider/vitamonk-advertorial-header.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block text-start">
                            <h3 class="title text-start">Training like Rock</h3>
                            <p>Program creative in California cardio, <br>running cross-fit, boxing</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </article>

        <article class="history container-fluid">
            <header class="mb-5 mb-mg-0">
                <h2 class="title mb-3 mb-mg-0">The Fascinating Untold History Of Powerlifting</h2>
                <p class="article-description"><i>Learn more about the historic roots of powerlifting's explosive
                        growth.</i></p>
                <footer class="article-author">
                    <address>
                        <p>Written by <a href="https://barbend.com/author/conor-heffernan/">Conor Heffernan</a></p>
                        <p>Original text from <cite><a
                                    href="https://barbend.com/powerlifting-history/">barbend.com</a></cite></p>
                    </address>
                </footer>
            </header>
            <section>
                <h3 class="subtitle mt-4 mb-4 mt-mg-0 mb-mg-0">The First Competitions and Organizations</h3>
                <p><dfn>Weightlifting</dfn> welcomed its first world championship in 1891. The sport’s prestige was
                    heightened some years later when it was featured at the inaugural 1896 Olympic Games in Athens (3).
                    Powerlifting, on the other hand, had no such competition. <strong>Indeed, powerlifting as we
                        understand it today, was virtually inseparable from weightlifting for the first half of the
                        twentieth-century.</strong> This was especially the case with two of the largest weightlifting
                    organizations which emerged during this period.</p>
                <p>While mainland Europe boasted a series of weightlifting organizations in the early twentieth century,
                    <b>weightlifting, and by proxy powerlifting, tended to flourish in Great Britain and the United
                        States</b>. After several failed efforts, a British Amateur Weightlifting Association (BAWLA)
                    was established in 1910. What was significant about BAWLA, aside from their fun acronym, was that
                    the group oversaw innumerable lifts. By 1933, the group held official competitions in over thirty
                    lifts (4). While BAWLA may have appeared solely concerned with Olympic weightlifting at first
                    glance, the reality, was that they promoted several versions of the powerlifts we use today. For
                    example, BAWLA held meets for one handed deadlifts, two handed deadlifts, rudimentary presses and
                    some leg work. Incidentally the judging process involved was often remarkably strict.
                </p>
                <p><strong>When Hermann Goerner toured England in the 1920s, he attempted to break the BAWLA deadlift
                        record with a 650lb deadlift.</strong> Successful in lifting the bar from the ground, Goerner’s
                    lift was disqualified because he failed to pull the weight with his heels touching as per BAWLA’s
                    rules (<em>this is called an ‘English style deadlift</em>). After the confusion was cleared, and a
                    visibly angered Goerner returned to the barbell — the strongman then completed the lift
                    satisfactorily for his BAWLA judges.</p>
                <h3 class="subtitle mt-4 mb-4 mt-mg-0 mb-mg-0">Powerlifting Is Born</h3>
                <p>The 1950s proved a pivotal decade for powerlifters across the United States. Olympic Weightlifting,
                    despite the best efforts of Bob Hoffman and others, was waning in popularity. <strong>The AAU, which
                        oversaw Olympic Weightlifting, bodybuilding, and odd lift competitions, was coming under
                        increasing criticism and individuals were calling for a sea change in the iron game.</strong>
                    Bodybuilding promoters began organizing their own competitions in the United States, most notably
                    those organized by the Weider brothers. Based on the popularity of ‘odd lift’ competitions and the
                    conviction that a narrow focus on weightlifting excluded a great deal of the lifting community,
                    individuals began to petition the AAU for a powerlifting meet.</p>
                <blockquote cite="https://barbend.com/powerlifting-history/">
                    <p>For most of the 1950s the AAU’s response — as dictated by Bob Hoffman — was a resounding no.</p>
                </blockquote>
                <h3 class="subtitle mt-4 mb-4 mt-mg-0 mb-mg-0">Powerlifting Continues to Grow</h3>
                <p>As American powerlifting grew in popularity, it was perhaps inevitable that international
                    competitions would begin to cross lifters’ minds. A British powerlifting federation was established
                    in the late 1960s, soon followed by other European nations. Interestingly, it was the French and
                    British who first came together for an international competition when lifters from both nations met
                    in 1968 and again in 1969 (16). Undoubtedly important, these competitions featured two rather
                    unusual rules.</p>
                <p>These European competitions were important, but the nascent powerlifting world was itching for a real
                    test. They wanted to see Britain and America meet in competition. Thus in 1970, an inaugural
                    international meet between British and American lifters was held in Los Angeles. As retold by Mike
                    Shaw, one of the British lifters, the event was met with great interest, and even attracted local
                    television spots (18). In homage to the previously discussed Bob Hoffman, a rematch was held on his
                    birthday in 1971.</p>
                <p>This meet then set the scene for a world-level powerlifting competition the following year in 1972.
                    With a world-level competition, an <dfn>International Powerlifting Federation<dfn> was established
                            that very same year in 1972. In a short time, the sport had come to full maturation (19).
                            Full maturation for male lifters that is. It took another six years before female
                            powerlifting became recognized as an official pursuit and sport.</p>
            </section>
        </article>

        <article class="last-win container-fluid">
            <header>
                <h2 class="title">Weightlifting Records</h2>
            </header>
            <section class="mens-records mt-5 mb-mt-0">
                <h3 class="subtitle">British Men’s Senior Records</h3>
                <div class="table-responsive">
                    <table class="table table-striped data-table table-of-records">
                        <tr>
                            <th>category (kg)</th>
                            <th>lift</th>
                            <th>record (kg)</th>
                            <th>holder</th>
                            <th>competition</th>
                            <th>location</th>
                        </tr>
                        <tr>
                            <td>81</td>
                            <td>Snatch Clean & Jerk</td>
                            <td>322</td>
                            <td>Jack Oliver</td>
                            <td>European Senior Championships</td>
                            <td>Batumi, GEO</td>
                        </tr>
                    </table>
                </div>
            </section>
            <section class="women-records mt-5 mb-mt-0">
                <h3 class="subtitle">British Women’s Senior Records</h3>
                <div class="table-responsive">
                    <table class="table table-striped data-table table-of-records">
                        <tr>
                            <th>category (kg)</th>
                            <th>lift</th>
                            <th>record (kg)</th>
                            <th>holder</th>
                            <th>competition</th>
                            <th>location</th>
                        </tr>
                        <tr>
                            <td>64</td>
                            <td>Snatch Clean & Jerk</td>
                            <td>230</td>
                            <td>Sarah Davies</td>
                            <td>European Senior Championships</td>
                            <td>Moscow, RUS</td>
                        </tr>
                    </table>
                </div>
            </section>
        </article>

    </main>

    <footer class="bottom-footer container-fluid">
        <p class="copyright"><small>&copy; Copyright 2021 Wasya1212.</small></p>
    </footer>

    <script src="../libs/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>

</body>

</html>