/* ANIMATION */
@keyframes displayTitleInfo {
    from {
        transform: translateX(-200%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes displayTextInfo {
    from {
        opacity: 0;
        filter: blur(10px);
    }
    to {
        opacity: 1;
        filter: blur(0px);
    }
}

/* SLIDER TEXT */
.slider .slide h3 {
    text-transform: capitalize;
    margin: 0;
    font-weight: bold;
    font-size: 1.6em;
    margin-bottom: .5em;
    transform: translateX(0);
    visibility: hidden;
}

.slider .slide p {
    line-height: 1.4;
    margin: 0;
    font-weight: normal;
    opacity: 1;
    filter: blur(0px);
    visibility: hidden;
}

/* TEXT ANIMATIONS OF CHECKED SLIDES  */
.slider .slide.active h3 {
    animation: 2s alternate displayTitleInfo;
    visibility: visible;
}

.slider .slide.active p {
    animation: 3s alternate displayTextInfo;
    visibility: visible;
}