extends layout/default

block vars
    -
        page = {
            language: 'en',
            title: 'Web Task 1 | Admin',
            author: 'Ukrainets Vasya',
            description: 'Simple website page of WebUI Task #1'
        }

block content
    article.admin
        header
            h2.title Add news
        .add-news-control
            form
                .news-image-upload-container
                    label.uploaded-image-container(for='news-image-input')
                    label.upload-image-btn.button(for='news-image-input') Add image
                    input#news-image-input(type='file' name='news-image')
                .news-info-upload-container
                    input#news-title-input(name='news-title' type='text' placeholder='News title')
                    textarea#news-text-input(name='news-text' placeholder='News text')
                    button#submit-new-news.button Add news
