extends layout/default

block vars
    -
        page = {
            language: 'en',
            title: 'Web Task 1 | Contacts',
            author: 'Ukrainets Vasya',
            description: 'Simple website page of WebUI Task #1'
        }

block content
    article.contacts
        header
            h2.title About us
        section
            header
                h3.title Contacts
            address
                p
                    | email: 
                    a(href='mailto:someone@mysite.com') someone@mysite.com
                p
                    | tel 1: 
                    a(href='tel:1-562-867-5309') 1-562-867-5309
                p
                    | tel 2: 
                    a(href='tel:1-323-234-6543') 1-323-234-6543
                p
                    | local address: 
                    a(href='https://www.google.com/maps/place/Metro+Club/@49.8258791,24.049791,15.25z/data=!4m5!3m4!1s0x473add42a98fa1c5:0xc2357933e49b3c1a!8m2!3d49.8333089!4d24.0376943' target='_blank') 8602 North Road Lynnwood, WA 98037
            .socials
                p Follow us
                nav.socials-navbar
                    a.twitter(href='https:twitter.com')
                    a.facebook(href='https:facebook.com')
                    a.instagram(href='https:instagram.com')
                    a.youtube(href='https:youtube.com')
        aside
            .map
                iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8657.473281129336!2d24.04979095346674!3d49.825879092754256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add42a98fa1c5%3A0xc2357933e49b3c1a!2sMetro%20Club!5e0!3m2!1sru!2sua!4v1626284987556!5m2!1sru!2sua' width='600' height='450' style='border:0;' allowfullscreen='' loading='lazy')
