<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ukrainets Vasya">
    <meta name="description" content="Simple website page of WebUI Task #1">
    <meta http-equiv="content-language" content="en">
    <meta http-equiv="cache-control" content="no-cache">
    <title>Web Task 1 | Contacts</title>
    <link type="image/x-icon" rel="shortcut icon" href="../../assets/icons/favicon.ico">
    <link rel="stylesheet" href="../../css/index.css">
</head>
<body>
    
    <header class="top-header">
        <div class="logo"><a href="../index.html"></a></div>
        <nav class="top-navigation">
            <ul class="categories-list">
                <li class="category-item"><a href="../index.html">main</a></li>
                <li class="category-item">
                    <span class="subcategory-item"><a href="matches.html">matches</a></span>
                    <ul class="categories-list subcategories-list">
                        <li class="category-item subcategory-item">
                            <a href="matches.html#matches-callendar-container">callendar of matches</a>
                        </li>
                        <li class="category-item subcategory-item">
                            <a href="matches.html#next-match-container">next game</a>
                        </li>
                        <li class="category-item subcategory-item">
                            <a href="matches.html#raitings-container">raitings</a>
                        </li>
                    </ul>
                </li>
                <li class="category-item"><a href="news.html">news</a></li>
                <li class="category-item"><a href="fans.html">fans</a></li>
                <li class="category-item current"><a href="">contacts</a></li>
                <li class="category-item"><a href="admin.html">admin</a></li>
            </ul>
        </nav>
    </header>
    
    <main class="content">

        <article class="contacts">
            
            <header>
                <h2 class="title">About us</h2>
            </header>
            
            <section>
                <header>
                    <h3 class="title">Contacts</h3>
                </header>
                <address>
                    <p>email: <a href="mailto:someone@mysite.com">someone@mysite.com</a></p>
                    <p>tel 1: <a href="tel:1-562-867-5309">1-562-867-5309</a></p>
                    <p>tel 2: <a href="tel:1-323-234-6543">1-323-234-6543</a></p>
                    <p>local address: <a href="https://www.google.com/maps/place/Metro+Club/@49.8258791,24.049791,15.25z/data=!4m5!3m4!1s0x473add42a98fa1c5:0xc2357933e49b3c1a!8m2!3d49.8333089!4d24.0376943" target="_blank">8602 North Road Lynnwood, WA 98037</a></p>
                </address>
                <div class="socials">
                    <p>Follow us</p>
                    <nav class="socials-navbar">
                        <a href="https:twitter.com" class="twitter"></a>
                        <a href="https:facebook.com" class="facebook"></a>
                        <a href="https:instagram.com" class="instagram"></a>
                        <a href="https:youtube.com" class="youtube"></a>
                    </nav>
                </div>
            </section>

            <aside>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8657.473281129336!2d24.04979095346674!3d49.825879092754256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add42a98fa1c5%3A0xc2357933e49b3c1a!2sMetro%20Club!5e0!3m2!1sru!2sua!4v1626284987556!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </aside>
            
        </article>

    </main>
    
    <footer class="bottom-footer">
        <p class="copyright"><small>&copy; Copyright 2021 Wasya1212.</small></p>
    </footer>

</body>
</html>