doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='author' content='Ukrainets Vasya')
    meta(name='description' content='Simple website page of WebUI Task #1')
    meta(http-equiv='content-language' content='en')
    meta(http-equiv='cache-control' content='no-cache')
    title Web Task 1 | Fans
    link(type='image/x-icon' rel='shortcut icon' href='../../assets/icons/favicon.ico')
    link(rel='stylesheet' href='../../css/index.css')
body
    header.top-header
        .logo
            a(href='../index.html')
        nav.top-navigation
            ul.categories-list
                li.category-item
                    a(href='../index.html') main
                li.category-item
                    span.subcategory-item
                        a(href='matches.html') matches
                    ul.categories-list.subcategories-list
                        li.category-item.subcategory-item
                            a(href='matches.html#matches-callendar-container') callendar of matches
                        li.category-item.subcategory-item
                            a(href='matches.html#next-match-container') next game
                        li.category-item.subcategory-item
                            a(href='matches.html#raitings-container') raitings
                li.category-item
                    a(href='news.html') news
                li.category-item.current
                    a(href='') fans
                li.category-item
                    a(href='contacts.html') contacts
                li.category-item
                    a(href='admin.html') admin
    main.content
        article.fans-comments
            header
                h2.title fan appeals
            .appeals
                ul.appeals-list
                    li
                        p.appeal-text
                            | The anti-doping division of CAS did not accept that the steroids came from meat contamination and four-year suspensions for the three were announced today by the International Testing Agency (ITA). At the same time the ITA, which carries out all anti-doping procedures for the International Weightlifting Federation (IWF) took the next step towards a possible outright ban for Colombia. Because it has had three positives during the Olympic qualifying period, and three during a year, the Colombian Weightlifting Federation has been referred to the IWF&rsquo;s independent Member Federations Sanctions Panel.
                        footer
                            time.appeal-date(datetime='2021-07-14T20:33') 14th Of July, 2021 At 12:33
                            strong.appeal-author William Pena
                    li
                        p.appeal-text
                            | We want the wellbeing of our sport but we ask that our work is valued. We have weightlifting all over our country, we take children from drug-trafficking and crime groups and we link them to weightlifting. It is impossible to know what athletes are eating or consuming in a country where there are thousands of weightlifters.
                        footer
                            time.appeal-date(datetime='2021-07-14T20:33') 14th Of July, 2021 At 20:17
                            strong.appeal-author Brian Oliver
                .appeal-control
                    form
                        div
                            textarea(placeholder='Write message...' name='appeal-text')
                        div
                            button.button Send
    footer.bottom-footer
        p.copyright
            small &copy; Copyright 2021 Wasya1212.
