<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ukrainets Vasya">
    <meta name="description" content="Simple website page of WebUI Task #1">
    <meta http-equiv="content-language" content="en">
    <meta http-equiv="cache-control" content="no-cache">
    <title>Web Task 1 | Fans</title>
    <link type="image/x-icon" rel="shortcut icon" href="../../assets/icons/favicon.ico">
    <link rel="stylesheet" href="../../css/index.css">
</head>
<body>
    
    <header class="top-header">
        <div class="logo"><a href="../index.html"></a></div>
        <nav class="top-navigation">
            <ul class="categories-list">
                <li class="category-item"><a href="../index.html">main</a></li>
                <li class="category-item">
                    <span class="subcategory-item"><a href="matches.html">matches</a></span>
                    <ul class="categories-list subcategories-list">
                        <li class="category-item subcategory-item">
                            <a href="matches.html#matches-callendar-container">callendar of matches</a>
                        </li>
                        <li class="category-item subcategory-item">
                            <a href="matches.html#next-match-container">next game</a>
                        </li>
                        <li class="category-item subcategory-item">
                            <a href="matches.html#raitings-container">raitings</a>
                        </li>
                    </ul>
                </li>
                <li class="category-item"><a href="news.html">news</a></li>
                <li class="category-item current"><a href="">fans</a></li>
                <li class="category-item"><a href="contacts.html">contacts</a></li>
                <li class="category-item"><a href="admin.html">admin</a></li>
            </ul>
        </nav>
    </header>
    
    <main class="content">

        <article class="fans-comments">
            
            <header>
                <h2 class="title">fan appeals</h2>
            </header>
            
            <div class="appeals">
                <ul class="appeals-list">
                    <li>
                        <p class="appeal-text">The anti-doping division of CAS did not accept that the steroids came from meat contamination and four-year suspensions for the three were announced today by the International Testing Agency (ITA). At the same time the ITA, which carries out all anti-doping procedures for the International Weightlifting Federation (IWF) took the next step towards a possible outright ban for Colombia. Because it has had three positives during the Olympic qualifying period, and three during a year, the Colombian Weightlifting Federation has been referred to the IWF’s independent Member Federations Sanctions Panel.</p>                        
                        <footer>
                            <time class="appeal-date" datetime="2021-07-14T20:33">14th Of July, 2021 At 12:33</time>
                            <strong class="appeal-author">William Pena</strong>
                        </footer>
                    </li>
                    <li>
                        <p class="appeal-text">We want the wellbeing of our sport but we ask that our work is valued. We have weightlifting all over our country, we take children from drug-trafficking and crime groups and we link them to weightlifting. It is impossible to know what athletes are eating or consuming in a country where there are thousands of weightlifters.</p>
                        <footer>
                            <time class="appeal-date" datetime="2021-07-14T20:33">14th Of July, 2021 At 20:17</time>
                            <strong class="appeal-author">Brian Oliver</strong>
                        </footer>
                    </li>
                </ul>
                <div class="appeal-control">
                    <form>
                        <div><textarea placeholder="Write message..." name="appeal-text"></textarea></div>
                        <div><button class="button">Send</button></div>
                    </form>
                </div>
            </div>
            
        </article>

    </main>
    
    <footer class="bottom-footer">
        <p class="copyright"><small>&copy; Copyright 2021 Wasya1212.</small></p>
    </footer>

</body>
</html>