extends layout/default

block vars
    -
        page = {
            language: 'en',
            title: 'Web Task 1 | Fans',
            author: 'Ukrainets Vasya',
            description: 'Simple website page of WebUI Task #1'
        }

mixin feedback(feedback)
    li
        p.appeal-text= feedback.text
        footer
            time.appeal-date(datetime=feedback.date)=formatDateAndTime(feedback.date, true)
            strong.appeal-author= feedback.author

block content
    article.fans-comments
        header
            h2.title fan appeals
        .appeals
            ul.appeals-list
                each feedback in feedbacks
                    +feedback(feedback)
            .appeal-control
                form.add-feedback-form
                    div
                        textarea(placeholder='Write message...' name='appeal-text')
                    div
                        button.button Send

block scripts
    script(src="../js/fans.js")