<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ukrainets Vasya">
    <meta name="description" content="Simple website page of WebUI Task #1">
    <meta http-equiv="content-language" content="en">
    <meta http-equiv="cache-control" content="no-cache">
    <title>Web Task 1 | Mathces</title>
    <link type="image/x-icon" rel="shortcut icon" href="../../assets/icons/favicon.ico">
    <link rel="stylesheet" href="../../css/index.css">
</head>
<body>
    
    <header class="top-header">
        <div class="logo"><a href="../index.html"></a></div>
        <nav class="top-navigation">
            <ul class="categories-list">
                <li class="category-item"><a href="../index.html">main</a></li>
                <li class="category-item">
                    <span class="subcategory-item current"><a href="">matches</a></span>
                    <ul class="categories-list subcategories-list">
                        <li class="category-item subcategory-item">
                            <a href="#matches-callendar-container">callendar of matches</a>
                        </li>
                        <li class="category-item subcategory-item">
                            <a href="#next-match-container">next game</a>
                        </li>
                        <li class="category-item subcategory-item">
                            <a href="#raitings-container">raitings</a>
                        </li>
                    </ul>
                </li>
                <li class="category-item"><a href="news.html">news</a></li>
                <li class="category-item"><a href="fans.html">fans</a></li>
                <li class="category-item"><a href="contacts.html">contacts</a></li>
                <li class="category-item"><a href="admin.html">admin</a></li>
            </ul>
        </nav>
    </header>
    
    <main class="content">

        <article class="matches-callendar" id="matches-callendar-container">
            <header>
                <h2 class="title">2021 British Powerlifting Championships</h2>
            </header>
            
            <section>
                <table class="data-table">
                    <tr>
                        <th>date</th>
                        <th>name</th>
                        <th>grp</th>
                        <th>teams</th>
                    </tr>
                    <tr>
                        <td>27/06/21</td>
                        <td>British Equipped Bench Championships</td>
                        <td>1 - 1530</td>
                        <td>SE, NM, SCO, WAL, GL, YNE</td>
                    </tr>
                    <tr>
                        <td>27/06/21</td>
                        <td>British Equipped Bench Championships</td>
                        <td>1 - 1530</td>
                        <td>SE, NM, SCO, WAL, GL, YNE</td>
                    </tr>
                    <tr>
                        <td>26/06/21</td>
                        <td>British Equipped Championships</td>
                        <td>1 - 0930</td>
                        <td>SE, SCO, NM, WM, EM, YNE</td>
                    </tr>
                    <tr>
                        <td>26/06/21</td>
                        <td>British Equipped Championships</td>
                        <td>2 - 1230</td>
                        <td>SE, SCO, WAL, WM, EM</td>
                    </tr>
                    <tr>
                        <td>26/06/21</td>
                        <td>British Equipped Championships</td>
                        <td>3 - 1530</td>
                        <td>SE, SCO, WAL, WM, EM</td>
                    </tr>
                    <tr>
                        <td>27/06/21</td>
                        <td>British Equipped Championships</td>
                        <td>1 - 0930</td>
                        <td>EM, NM, GL, YNE, SE</td>
                    </tr>
                    <tr>
                        <td>27/06/21</td>
                        <td>British Equipped Championships</td>
                        <td>2 - 1230</td>
                        <td>WAL, NW, SM, WM</td>
                    </tr>
                </table>
            </section>
        </article>

        <article class="next-match" id="next-match-container">
            <header>
                <h2 class="title">Next game</h2>
            </header>

            <section>
                <p>
                    <time class="next-match-date" datetime="2021-07-15">2021-07-15</time>
                </p>
            </section>
        </article>

        <article class="raitings" id="raitings-container">
            <header>
                <h2 class="title">Raitings</h2>
            </header>
            
            <section>
                <table class="data-table">
                    <tr>
                        <th>record (kg)</th>
                        <th>holder</th>
                        <th>competition</th>
                    </tr>
                    <tr>
                        <td>322</td>
                        <td>Jack Oliver</td>
                        <td>European Senior Championships</td>
                    </tr>
                    <tr>
                        <td>216</td>
                        <td>Zoe Smith</td>
                        <td>World Senior Championships</td>
                    </tr>
                    <tr>
                        <td>230</td>
                        <td>Sarah Davies</td>
                        <td>European Senior Championships</td>
                    </tr>
                    <tr>
                        <td>286</td>
                        <td>Gareth Evans</td>
                        <td>British International Open</td>
                    </tr>
                    <tr>
                        <td>131</td>
                        <td>Jaswant Shergill</td>
                        <td>England Senior Championships</td>
                    </tr>
                </table>
            </section>
        </article>

    </main>
    
    <footer class="bottom-footer">
        <p class="copyright"><small>&copy; Copyright 2021 Wasya1212.</small></p>
    </footer>

</body>
</html>