extends layout/default

block vars
    -
        page = {
            language: 'en',
            title: 'Web Task 1 | Mathces',
            author: 'Ukrainets Vasya',
            description: 'Simple website page of WebUI Task #1'
        }

block content
    article#matches-callendar-container.matches-callendar
        header
            h2.title 2021 British Powerlifting Championships
        section
            table.data-table
                tr
                    th date
                    th name
                    th grp
                    th teams
                tr
                    td 27/06/21
                    td British Equipped Bench Championships
                    td 1 - 1530
                    td SE, NM, SCO, WAL, GL, YNE
                tr
                    td 27/06/21
                    td British Equipped Bench Championships
                    td 1 - 1530
                    td SE, NM, SCO, WAL, GL, YNE
                tr
                    td 26/06/21
                    td British Equipped Championships
                    td 1 - 0930
                    td SE, SCO, NM, WM, EM, YNE
                tr
                    td 26/06/21
                    td British Equipped Championships
                    td 2 - 1230
                    td SE, SCO, WAL, WM, EM
                tr
                    td 26/06/21
                    td British Equipped Championships
                    td 3 - 1530
                    td SE, SCO, WAL, WM, EM
                tr
                    td 27/06/21
                    td British Equipped Championships
                    td 1 - 0930
                    td EM, NM, GL, YNE, SE
                tr
                    td 27/06/21
                    td British Equipped Championships
                    td 2 - 1230
                    td WAL, NW, SM, WM
    article#next-match-container.next-match
        header
            h2.title Next game
        section
            p
                time.next-match-date(datetime='2021-07-15') 2021-07-15
    article#raitings-container.raitings
        header
            h2.title Raitings
        section
            table.data-table
                tr
                    th record (kg)
                    th holder
                    th competition
                tr
                    td 322
                    td Jack Oliver
                    td European Senior Championships
                tr
                    td 216
                    td Zoe Smith
                    td World Senior Championships
                tr
                    td 230
                    td Sarah Davies
                    td European Senior Championships
                tr
                    td 286
                    td Gareth Evans
                    td British International Open
                tr
                    td 131
                    td Jaswant Shergill
                    td England Senior Championships