<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ukrainets Vasya">
    <meta name="description" content="Simple website page of WebUI Task #1">
    <meta http-equiv="content-language" content="en">
    <meta http-equiv="cache-control" content="no-cache">
    <title>Web Task 1 | News</title>
    <link type="image/x-icon" rel="shortcut icon" href="../../assets/icons/favicon.ico">
    <link rel="stylesheet" href="../../css/index.css">
</head>
<body>
    
    <header class="top-header">
        <div class="logo"><a href="../index.html"></a></div>
        <nav class="top-navigation">
            <ul class="categories-list">
                <li class="category-item"><a href="../index.html">main</a></li>
                <li class="category-item">
                    <span class="subcategory-item"><a href="matches.html">matches</a></span>
                    <ul class="categories-list subcategories-list">
                        <li class="category-item subcategory-item">
                            <a href="matches.html#matches-callendar-container">callendar of matches</a>
                        </li>
                        <li class="category-item subcategory-item">
                            <a href="matches.html#next-match-container">next game</a>
                        </li>
                        <li class="category-item subcategory-item">
                            <a href="matches.html#raitings-container">raitings</a>
                        </li>
                    </ul>
                </li>
                <li class="category-item current"><a href="">news</a></li>
                <li class="category-item"><a href="fans.html">fans</a></li>
                <li class="category-item"><a href="contacts.html">contacts</a></li>
                <li class="category-item"><a href="admin.html">admin</a></li>
            </ul>
        </nav>
    </header>
    
    <main class="content">

        <article class="news">
            
            <header>
                <h2 class="title">Latest news</h2>
            </header>
            
            <div class="news-list">
                <section class="news-preview news-preview-small">
                    <picture>
                        <a href="#"><img src="../../assets/img/news/2211407-46128370-2560-1440.webp" alt="powerlifter image"></a>
                    </picture>
                    <div class="content">
                        <header>
                            <a href="#"><h4>STRONGMAN EDDIE HALL WITH A 7000 CALORIES DIET DROUGHT 38 KILO IN A TWO MONTHS</h4></a>
                        </header>
                        <footer>
                            <p><span class="news-views">287</span></p>
                            <p><time class="news-date" datetime="2021-07-14T14:01">14th of July, 2021</time></p>
                        </footer>
                    </div>
                </section>
                
                <section class="news-preview news-preview-small">
                    <picture>
                        <a href="#"><img src="../../assets/img/news/2894021-59588428-2560-1440.webp" alt="powerlifter image"></a>
                    </picture>
                    <div class="content">
                        <header>
                            <a href="#"><h4>STRONGMAN EDDIE HALL WITH A 7000 CALORIES DIET DROUGHT 38 KILO IN A TWO MONTHS</h4></a>
                        </header>
                        <footer>
                            <p><span class="news-views">965</span></p>
                            <p><time class="news-date" datetime="2021-07-14T14:01">14th of July, 2021</time></p>
                        </footer>
                    </div>
                </section>
                
                <section class="news-preview news-preview-small">
                    <picture>
                        <a href="#"><img src="../../assets/img/news/2938298-60321928-2560-1440.webp" alt="powerlifter image"></a>
                    </picture>
                    <div class="content">
                        <header>
                            <a href="#"><h4>UKRAINIAN ALEXEY NOVIKOV WON THE TITLE OF THE MOST STRONG PERSON OF THE PLANET</h4></a>
                        </header>
                        <footer>
                            <p><span class="news-views">512</span></p>
                            <p><time class="news-date" datetime="2021-07-14T14:01">14th of July, 2021</time></p>
                        </footer>
                    </div>
                </section>
                
                <section class="news-preview news-preview-small">
                    <picture>
                        <a href="#"><img src="../../assets/img/news/2286853-47635850-2560-1440.webp" alt="powerlifter image"></a>
                    </picture>
                    <div class="content">
                        <header>
                            <a href="#"><h4>STRONGMAN EDDIE HALL WITH A 7000 CALORIES DIET DROUGHT 38 KILO IN A TWO MONTHS</h4></a>
                        </header>
                        <footer>
                            <p><span class="news-views">302</span></p>
                            <p></i><time class="news-date" datetime="2021-07-14T14:01">14th of July, 2021</time></p>
                        </footer>
                    </div>
                </section>
            </div>
        
        </article>

    </main>
    
    <footer class="bottom-footer">
        <p class="copyright"><small>&copy; Copyright 2021 Wasya1212.</small></p>
    </footer>

</body>
</html>