extends layout/default

block vars
    -
        page = {
            language: 'en',
            title: 'Web Task 1 | News',
            author: 'Ukrainets Vasya',
            description: 'Simple website page of WebUI Task #1'
        }

mixin news(news)
    section.news-preview.news-preview-small
        picture
            a(href='#')
                img(src= "../../assets/img/news/" + news.image alt=news.title + ' image')
        .content
            header
                a(href='#')
                    h4= news.title
            footer
                p
                    span.news-views= news.views
                p
                    time.news-date(datetime=news.date)=formatDateAndTime(news.date)

block content
    article.news
        header
            h2.title Latest news
        .news-list
            each newsItem in news
                +news(newsItem)