block vars

<!DOCTYPE html>
html(lang=page.language)
head
    include ../partials/head

    link(type='image/x-icon' rel='shortcut icon' href='../assets/icons/favicon.ico')
    link(rel='stylesheet' href='../libs/normalizecss/normalize.css')
    link(rel='stylesheet' href='../libs/fontawesome-free-5.15.3-web/css/all.min.css')
    link(rel='stylesheet' href='../libs/bootstrap-5.0.2-dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='../libs/bootstrap-icons-1.5.0/bootstrap-icons.css')
    link(rel='stylesheet' href='../css/index.css')

body
    include ../partials/header

    main.content
        block content
    
    include ../partials/footer

    script(src='../libs/bootstrap-5.0.2-dist/js/bootstrap.min.js')